footer{
    line-height: 20px;
    text-align: right ;
    padding: 15px 5% !important;
    background-color: #EEEEEE;
    
}
footer  * {
    font-family: Circular Std;
    font-size: 14px !important;
    color: #333 !important;
}
footer ul{
    margin:0px !important;
    display: inline-block;
    
}
footer ul li {
   margin: 0px 15px;
    display:inline-block;
}
footer a{
    float: left;
 
    
}


@media only screen (max-width: 600px){
    footer ul{
        display:none;
    }
    footer{
        text-align: center;
    }

    footer a{
        float: none;
    }
}