footer{
height: auto;
width: 100%;
position: relative;
display: flex;
bottom: 0;
margin-bottom: 0px;
background-color: #3f51b5;
justify-content: center;
/* align-items: center; */
padding:20px;
flex-wrap: wrap;

}


footer>div{
display:flex;    
flex-direction: column;
color: white;
/* margin: 20px 80px; */
margin:20px;
width: 300px;
text-align: center;
align-self: start;

}
footer>div:nth-child(1)>ul{
    display:flex;
    flex-direction: row;
    margin:0;
}
footer h5{
    font-size: 22px;
}

footer li {
    font-weight: 400;
    font-family: montserrat;
    font-size: medium;
}
footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
 
}

footer li {
    display: flex;
    flex-direction: row;
}
